body {
  margin: 0;
  font-family: Arial;
  background: #4C443C;
  color: white;
  overflow-x: hidden;
}

/* HEADER */

header {
  text-align: center;
  padding: 20px;
  background: #2e2a25;
}

.logo {
  width: 140px;
}

nav {
  margin-top: 10px;
}

nav a {
  margin: 0 15px;
  color: white;
  text-decoration: none;
}

/* GRID */

main {
  padding: 30px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

/* PRODUCTO */

.producto {
  background: #2e2a25;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  transition: 0.2s;
}

.producto:hover {
  transform: scale(1.03);
}

.img-placeholder {
  height: 150px;
  background: #666;
  margin-bottom: 10px;
  border-radius: 5px;
}

button {
  background: #3B60E4;
  border: none;
  padding: 8px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #F17300;
}
.carousel-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel {
  display: flex;
  overflow-x: auto;
  gap: 20px;
  padding: 20px;
  scroll-behavior: smooth;
  width: 100%;
}

.carousel::-webkit-scrollbar {
  display: none;
}

/* tarjetas */
.producto {
  min-width: 180px;
  background: #2e2a25;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}

/* flechas */
.arrow {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: white;
}

.arrow:hover {
  color: #F17300;
}
.seccion {
  max-width: 90%;
  width: 100%;
  margin: 40px auto;
  padding: 0 20px;
}

/* título centrado */
.seccion h2 {
  text-align: center;
  margin-bottom: 10px;
}
.seccion h2 {
  text-align: center;
  margin-bottom: 15px;
  letter-spacing: 2px;
}
@media (max-width: 768px) {
  .producto {
    min-width: 160px; /* más pequeños */
  }

  .carousel {
    padding: 10px;
  }
}
@media (max-width: 768px) {
  nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

.detalle {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

.detalle-container {
  display: flex;
  gap: 40px;
}

.imagen {
  width: 500px;
  height: 300px;
  background: #666;
}

.info {
  flex: 1;
}

/* footer fijo */
.footer-compra {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #2e2a25;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

#miniCarrito {
    position: fixed;
    top: 120px;
    right: 20px;
    width: 260px;

    background: #1f1f1f;
    color: white;
    padding: 15px;
    border-radius: 10px;

    z-index: 9999; /* 🔥 CLAVE */
}

.item-carrito {
    display: grid;
    grid-template-columns: 1fr auto auto auto;
    align-items: center;
    gap: 10px;
    margin-bottom: 12px;
}

.item-carrito button {
    background: #3b60e4;
    border: none;
    color: white;
    padding: 4px 8px;
    border-radius: 6px;
    cursor: pointer;
}

.item-carrito button:hover {
    opacity: 0.8;
}

.controles {
    display: flex;
    align-items: center;
    gap: 5px;
}